.about {
  padding: em(90) 0;

  &__headline {
    text-align: center;
    padding-bottom: em(70);
    font-size: rem(42);
    line-height: rem(50);
  }

  &__row {
    display: flex;
    @media (max-width: $md3) {
      flex-direction: column;
    }
  }

  &__image {
    flex: 0 0 em(670);
    @media (max-width: $md3) {
      padding-top: em(20);
    }
    @media (max-width: 568px) {
      flex: 1 1 auto;
    }
  }

  &__body {
    flex: 1 1 auto;
    padding-right: em(20);
    max-height: em(350);
    overflow-y: scroll;
    @media (max-width: $md3) {
      padding-right: 0;
    }
  }

  &__text {
    margin-bottom: em(15);
    font-size: rem(24);
    line-height: rem(30);
  }

  &__item {
    font-size: rem(24);
    line-height: rem(30);
  }
}
