.catalogue {
  &__container {
  }

  &__title {
    font-size: rem(42);
    line-height: rem(50);
    text-align: center;
    margin-bottom: em(60);
  }

  &__buttons {
    margin-bottom: em(40);
    display: grid;
    gap: em(40);
  }

  &__display {
    display: grid;
    gap: em(20);
  }
}

.buttons-catalogue {
  grid-template-columns: repeat(auto-fit, minmax(em(150), 1fr));
}
.display-catalogue {
  grid-template-columns: repeat(auto-fit, minmax(em(220), 1fr));
}
