.contacts {
  &__container {
  }

  &__headline {
    @include adapt(font-size, 42, 21, 1);
    @include adapt(line-height, 51, 27, 1);
    text-align: center;
    margin-bottom: em(35);
  }

  &__main {
    display: flex;
    align-items: flex-start;
  }
}

.main-contacts {
  &__text {
    flex: 0 0 em(600);
  }

  &__address {
  }

  &__wapp {
  }

  &__phone {
  }

  &__image {
    flex: 0 1 em(740);
  }
}
