@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    src: url('../fonts/#{$file_name}.woff') format('woff'),
      url('../fonts/#{$file_name}.woff2') format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

@include font('Montsemi', 'Montserrat-SemiBold', '500', 'normal');
@include font('Montbold', 'Montserrat-Bold', '700', 'normal');

// don't forget to restart, if another font has been put
