.footer {
  padding: em(54) em(34);
  max-height: em(215);
  background-color: #000;

  &__container {
    height: 100%;
  }

  &__logo {
    @include adapt(font-size, 82, 48, 1);
    text-transform: uppercase;
  }
}
