.fullscreen {
  display: flex;
  min-height: 100vh;
  background-image: url(../img/fullscreen/smithshop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fullscreen__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  min-width: 100%;
  padding-top: em(150);
}
.fullscreen__headline {
  max-width: em(400);
  font-size: rem(52);
  line-height: rem(63);
  overflow: hidden;
  font-family: $secondFont;
  text-transform: uppercase;
}
.fullscreen__text {
  max-height: em(170);
  max-width: em(400);
  overflow: hidden;
  font-family: $fontFamily;
  margin: em(30) 0 em(70) 0;
}
.fullscreen__btn {
  align-self: start;
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.5);
}
.btn_main {
  width: em(250);
  height: em(50);
  color: $btnColour;
  background-color: $btnBgColour;
  font-size: rem(20);
  line-height: rem(24);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-radius: em(50);
}
