.fullscreen {
  display: flex;
  min-height: 100vh;
  background-image: url(../img/fullscreen/smithshop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.fullscreen__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 auto;
  min-width: 100%;
  padding-top: em(150);
}
.fullscreen__headline {
  max-width: em(200);
  @include adapt(font-size, 52, 21, 1);
  @include adapt(line-height, 63, 36, 1);
  overflow: hidden;
  font-family: $secondFont;
  text-transform: uppercase;
  padding-bottom: em(30);
}
.fullscreen__text {
  // flex: 0 0 em(175);
  max-height: em(78);
  max-width: em(600);
  width: 100%;
  overflow-y: hidden;
  font-family: $fontFamily;
  @include adapt(font-size, 24, 12, 1);
  transition: all 0.3s ease;
  &:hover {
    overflow-y: scroll;
    max-height: em(175);
  }
}
.fullscreen__btn {
  margin-top: em(70);
  align-self: start;
  box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.5);
}
.btn_main {
  @include adapt(width, 250, 180, 1);
  @include adapt(height, 50, 30, 1);
  color: $btnColour;
  background-color: $btnBgColour;
  @include adapt(font-size, 20, 14, 1);
  line-height: rem(24);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  border-radius: em(50);
}
