.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.8s ease;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adapt(padding-top, 20, 15, 1);
    @include adapt(padding-bottom, 20, 15, 1);
    // padding-top: 20px;
    // padding-bottom: 20px;
    // @media (max-width: $md2) {
    //   padding-top: 15px;
    //   padding-bottom: 15px;
    // }
  }

  &__logo {
    display: inline-block;
    font-size: rem(56);
    @include adapt(font-size, 56, 32, 1);
    text-transform: uppercase;
  }

  &__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: em(210);
    font-size: rem(16);
    @media (max-width: $md5) {
      display: none;
    }
  }

  &_fixed {
    position: fixed;
    top: -40px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    background-color: $headerFixed;
  }
  &_top {
    margin-top: 40px;
  }
}

.nav {
  @media (max-width: $md4) {
    display: none;
  }
  &__list {
    display: flex;
    column-gap: rem(16);
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 0 em(10);
  }

  &__link {
    position: relative;
    @media (min-width: $md3) {
      font-size: rem(18);
    }
    font-size: rem(16);
    &:hover {
      border-bottom: 3px solid $colourFont;
    }
  }
}

.address-header__address {
  @include adapt(font-size, 16, 12, 1);
}

.address-header__wapp > span,
.address-header__phone > span {
  font-family: $secondFont;
}
