@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?26rntu#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff?26rntu') format('woff'),
    url('../fonts/icomoon.svg?26rntu#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='_icon-']::before,
[class*=' _icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
}

._icon-phone:before {
  content: '\e942';
  display: inline-block;
  font-size: 3rem;
  color: #fff;
}
