.partners {
  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__list {
    max-width: em(1100);
    margin: em(-100) auto em(50);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(em(320), 1fr));
    gap: em(15);
    @media (max-width: $md3) {
      margin: em(50) auto;
    }
  }
}

.top-partners {
  &__left {
    flex: 0 1 auto;
    @media (max-width: $md3) {
      @include adapt(flex-basis, 420, 240, 1);
    }
  }
  &__right {
    flex: 0 1 auto;
    @media (max-width: $md3) {
      @include adapt(flex-basis, 420, 240, 1);
    }
  }
  &__title {
    @include adapt(font-size, 42, 24, 1);
    @include adapt(line-height, 50, 30, 1);
    text-align: center;
  }
}

.list-partners {
  &__item {
    flex: 0 1 em(160);
    height: em(100);
    text-align: center;
    @include adapt(font-size, 30, 14, 1);
    @include adapt(line-height, 36, 21, 1);
  }
}
