.toTop {
  position: fixed;
  bottom: 12%;
  right: 2%;
  display: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  background-color: $btnBgColour;
  color: #000;
  border-radius: 50%;
  text-decoration: none;
  z-index: 8;
  // &:hover {
  //     background-color: red;
  // }
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide {
  display: none;
}
