<div class="about">
  <div class="about__container container">
    <h1 class="about__headline">О компании</h1>
    <div class="about__row">
      <div class="about__body">
        <p class="about__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Est facilis commodi non
          architecto dolore necessitatibus exercitationem quibusdam recusandae perferendis eligendi
          suscipit, saepe quod numquam. Laborum incidunt ipsam aut ullam quisquam, quasi corporis,
          sit id dolore sint et! Impedit laborum nihil debitis, deleniti ut, voluptas eos assumenda
          sunt magni eaque vel tempore vero eius placeat libero sapiente.
        </p>
        <ul class="about__list">
          <li class="about__item">-художественная ковка</li>
          <li class="about__item">-услуги кузнеца</li>
          <li class="about__item">-сварочные работы</li>
          <li class="about__item">-монтаж и демонтаж</li>
          <li class="about__item">-аргонная сварка</li>
          <li class="about__item">-изготовление дизайнов любой сложности</li>
          <li class="about__item">-полимерное покрытие</li>
        </ul>
      </div>
      <div class="about__image">
        <img src="img/about//about.jpg" alt="about" />
      </div>
    </div>
  </div>
</div>
