<div class="burger">
  <div class="burger__icon icon-burger">
    <span></span>
  </div>
  <div class="burger__menu menu-burger">
    <ul class="menu-burger__list list-burger">
      <li class="list-burger__logo">
        <a href="" class="list-burger__link">
          <img src="img/Flower-of-Iron.webp" alt="logo" />
        </a>
      </li>
      <li class="list-burger__item">
        <a href="" class="list-burger__link">О компании</a>
      </li>
      <li class="list-burger__item">
        <a href="" class="list-burger__link">Наши партнеры</a>
      </li>
      <li class="list-burger__item">
        <a href="" class="list-burger__link">Каталог продукции</a>
      </li>
      <li class="list-burger__item">
        <a href="" class="list-burger__link">Приемущества</a>
      </li>
      <li class="list-burger__item">
        <a href="" class="list-burger__link">Контакты</a>
      </li>
    </ul>
  </div>
</div>
