<section class="catalogue">
  <div class="catalogue__container container">
    <h2 class="catalogue__title title">Каталог продукции</h2>
    <div class="catalogue__buttons buttons-catalogue"></div>
    <div class="catalogue__display display-catalogue"></div>
    <div class="catalogue__offer offer-catalogue">
      <h3 class="offer-catalogue__title">
        Оставьте заявку и мы расчитаем стоимость изделия в кратчайшие сроки
      </h3>
      <button type="button" title="offer" class="offer-catalogue__btn">Оставить заявку</button>
    </div>
  </div>
</section>
