<section class="contacts">
  <div class="contacts__container container">
    <h1 class="contacts__headline">Контакты</h1>
    <div class="contacts__main main-contacts">
      <div class="main-contacts__text">
        <p class="main-contacts__address">г. N City, Denver str., 24, builds 1 & 2</p>
        <p class="main-contacts__wapp">
          whatsapp
          <span> +17975553609 </span>
        </p>
        <p class="main-contacts__phone">
          phone
          <span> +17974567962 </span>
        </p>
      </div>
      <div class="main-contacts__image">
        <img src="img/map/map.jpeg" alt="map" />
      </div>
    </div>
  </div>
</section>
