<section class="fullscreen ibg">
  <div class="fullscreen__container container">
    <h2 class="fullscreen__headline">Металлоизделия и художественная ковка</h2>
    <p class="fullscreen__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus, provident quia
      asperiores quasi perspiciatis nesciunt voluptatem similique voluptate porro veniam perferendis
      eligendi aperiam cum quaerat eius nobis commodi eos repellendus assumenda cupiditate aliquam
      officiis. Quod sequi tenetur rerum asperiores cupiditate minus voluptatem numquam nihil
      explicabo amet, ducimus ullam eius saepe alias dolores nesciunt reiciendis molestiae ea
      necessitatibus aut! Dignissimos nisi eos mollitia omnis. Error voluptatum praesentium officia,
      laborum eius laudantium soluta mollitia vitae commodi ab illum pariatur nulla blanditiis
      quisquam, alias debitis ex? Enim tenetur doloremque distinctio dolorem. Nam, exercitationem.
    </p>
    <a href="#!" class="fullscreen__btn btn btn_main">Get in touch</a>
  </div>
</section>
