<header class="header">
  <div class="header__container container">
    @@include('../template/_burger.html')
    <a href="./index.html" class="header__logo logo"> triumph </a>
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="" class="nav__link"> О компании </a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link"> Наши партнеры </a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link"> Каталог продукции </a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link"> Приемущества </a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link"> Приемущества </a>
        </li>
      </ul>
    </nav>
    <div class="header__address address-header">
      <p class="address-header__address">г. Нур-Султан, ул. Тлендиева 24 металлоцех бокс 1,2</p>
      <p class="address-header__wapp">
        ватсап
        <span> +77071093609 </span>
      </p>
      <p class="address-header__phone">
        телефон
        <span> +77074449968 </span>
      </p>
    </div>
  </div>
</header>
