<section class="offer ibg">
  <div class="offer__container container">
    <h1 class="offer__headline">Наши приемущества</h1>
    <div class="offer__items items-offer">
      <div class="items-offer__item">
        <div class="items-offer__image">
          <img src="img/offer/01.svg" alt="01" />
        </div>
        <h2 class="items-offer__title">Качество</h2>
      </div>
      <div class="items-offer__item">
        <div class="items-offer__image">
          <img src="img/offer/02.svg" alt="02" />
        </div>
        <h2 class="items-offer__title">Оперативность</h2>
      </div>
      <div class="items-offer__item">
        <div class="items-offer__image">
          <img src="img/offer/03.svg" alt="03" />
        </div>
        <h2 class="items-offer__title">
          Низкие цены Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis explicabo
          tempore rerum, molestias ea saepe, mollitia aspernatur alias quaerat distinctio facilis
          minus libero.
        </h2>
      </div>
    </div>
  </div>
</section>
