<section class="partners">
  <div class="partners__container container">
    <div class="partners__top top-partners">
      <div class="top-partners__left">
        <img src="img/partners/ornament-left.png" alt="left" />
      </div>
      <h2 class="top-partners__title title">Our partners</h2>
      <div class="top-partners__right">
        <img src="img/partners/ornament-right.png" alt="right" />
      </div>
    </div>
    <ul class="partners__list list-partners">
      <li class="list-partners__item">Mister Khan</li>
      <li class="list-partners__item">Improvement LLC</li>
      <li class="list-partners__item">Fence Bank</li>
      <li class="list-partners__item">
        <img src="img/partners/partners-01.jpg" alt="discount for retired" />
      </li>
    </ul>
  </div>
</section>
